{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_title %}Presentation Builder{% endblock %}
{% block head_meta_description %}{% endblock %}
{% block head_meta_keywords %}{% endblock %}

{% block head_meta %}
    {{ parent() }}
{% endblock %}

{% block head_css %}
    {% stylesheets
        '@OryzoneBoilerplateBundle/Resources/public/css/normalize.css'
        '@OryzoneBoilerplateBundle/Resources/public/css/main.css'
        '@LMamminoJHACBundle/Resources/public/css/foundation.min.css'
        '@LMamminoJHACBundle/Resources/public/css/app.css'
    %}
    <link rel="stylesheet"  href="{{ asset_url }}" >
    {% endstylesheets %}
{% endblock %}

{%  block body %}
    {{ parent() }}
{%  endblock %}

{% block body_container_header %}
    <nav class="top-bar">
        <ul>
            <li class="name"><h1><a href="{{ path('lmammino_jhac_default_index') }}" title="Home">Presentation Builder</a></h1></li>
            <li class="toggle-topbar"><a href="#"></a></li>
        </ul>
        <section>
            <ul class="right">
                <li class="divider"></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_profile_show') }}"><img src="{{ gravatar(app.user.getEmail(), 30) }}"/> <span>{{ app.user.getUsername() }}</span></a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </section>
    </nav>
{% endblock %}

{% block body_container_main %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="row" style="margin-top: 20px;">
            <div class="alert-box success">
                {{ flashMessage }}
                <a href="" class="close">&times;</a>
            </div>
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
{% endblock %}

{% block body_container_footer %}
    {% block modals %}{% endblock %}
{% endblock %}

{% block body_js %}
    {{ parent() }}
    {% javascripts
        '@LMamminoJHACBundle/Resources/public/js/foundation.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        (function($){ {% block body_js_onload %}
            $(document).foundationTopBar();
            $(document).foundationAlerts();
        {% endblock %} })(jQuery);
    </script>
{% endblock %}